.justify-content-center {
    justify-content: center;
}
.justify-content-space-evenly {
    justify-content: space-evenly;
}
.justify-content-space-around {
    justify-content: space-around;
}
.justify-content-space-between {
    justify-content: space-between;
}