.min-width-10percent {
    min-width: 10%;
}
.min-width-20percent {
    min-width: 20%;
}
.min-width-30percent {
    min-width: 30%;
}
.min-width-40percent {
    min-width: 40%;
}
.min-width-50percent {
    min-width: 50%;
}
.min-width-60percent {
    min-width: 60%;
}
.min-width-70percent {
    min-width: 70%;
}
.min-width-80percent {
    min-width: 80%;
}
.min-width-90percent {
    min-width: 90%;
}
.min-width-100percent {
    min-width: 100%;
}
