.width-10percent {
    width: 10%;
}
.width-20percent {
    width: 20%;
}
.width-30percent {
    width: 30%;
}
.width-40percent {
    width: 40%;
}
.width-50percent {
    width: 50%;
}
.width-60percent {
    width: 60%;
}
.width-70percent {
    width: 70%;
}
.width-80percent {
    width: 80%;
}
.width-90percent {
    width: 90%;
}
.width-100percent {
    width: 100%;
}
