@import url("./css/color.css");
@import url("./css/font-size.css");
@import url("./css/position.css");
@import url("./css/justify-content.css");
@import url("./css/width.css");
@import url("./css/height.css");
@import url("./css/min-width.css");
@import url("./css/display.css");

html {
    scroll-behavior: smooth;
}

body {
    position: relative;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.text-align-center {
    text-align: center;
}

.user-select-none {
    -webkit-user-select: none; /* Chrome all / Safari all */
    -moz-user-select: none; /* Firefox all */
    -ms-user-select: none; /* IE 10+ */
    user-select: none; /* Likely future */
}

.margin-auto {
    margin: auto;
}

.align-items-center {
    align-items: center;
}

.flex-wrap-wrap {
    flex-wrap: wrap;
}
