html {
    scroll-behavior: smooth;
}
body {
    position: relative;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.text-align-center {
    text-align: center;
}

.user-select-none {
    -webkit-user-select: none; /* Chrome all / Safari all */
    -moz-user-select: none; /* Firefox all */
    -ms-user-select: none; /* IE 10+ */
    user-select: none; /* Likely future */
}

.margin-auto {
    margin: auto;
}

.color-red {
    color: red;
}
.color-white {
    color: white;
}
.color-blue {
    color: blue;
}
.color-violet {
    color: violet;
}
.background-color-white {
    background-color: white;
}

.font-weight-bold {
    font-weight: bold;
}

.position-sticky {
    position: sticky;
}
.position-fixed {
    position: fixed;
}
.position-absolute {
    position: absolute;
}
.position-relative {
    position: relative;
}

.font-size-40px {
    font-size: 40px;
}
.font-size-30px {
    font-size: 30px;
}
.font-size-20px {
    font-size: 20px;
}

/* DAD CHILD */
.display-none {
    display: none;
}
.display-flex {
    display: flex;
}
.justify-content-center {
    justify-content: center;
}
.justify-content-space-evenly {
    justify-content: space-evenly;
}
.justify-content-space-around {
    justify-content: space-around;
}
.justify-content-space-between {
    justify-content: space-between;
}
.align-items-center {
    align-items: center;
}
.flex-wrap-wrap {
    flex-wrap: wrap;
}

.width-10percent {
    width: 10%;
}
.width-20percent {
    width: 20%;
}
.width-30percent {
    width: 30%;
}
.width-40percent {
    width: 40%;
}
.width-50percent {
    width: 50%;
}
.width-60percent {
    width: 60%;
}
.width-70percent {
    width: 70%;
}
.width-80percent {
    width: 80%;
}
.width-90percent {
    width: 90%;
}
.width-100percent {
    width: 100%;
}

.height-100percent {
    height: 100%;
}

.min-width-10percent {
    min-width: 10%;
}
.min-width-20percent {
    min-width: 20%;
}
.min-width-30percent {
    min-width: 30%;
}
.min-width-40percent {
    min-width: 40%;
}
.min-width-50percent {
    min-width: 50%;
}
.min-width-60percent {
    min-width: 60%;
}
.min-width-70percent {
    min-width: 70%;
}
.min-width-80percent {
    min-width: 80%;
}
.min-width-90percent {
    min-width: 90%;
}
.min-width-100percent {
    min-width: 100%;
}
