body {
    background-color: black;
}
a {
    font-size: 20px;
    text-decoration: none;
    color: lime;
    transition: 0.2s;
    font-family: 'Courier New', Courier, monospace;
}
a:hover {
    text-decoration: underline;
    font-size: 23px;
}
.Entry {
    padding: 2px 5px;
}
.d {
    /* directory */
    background-color: rgb(33 58 39);
}
