server {
    listen          443 ssl;
    server_name     tuana9a.tech;
    ssl_certificate        /etc/letsencrypt/live/tuana9a.tech/fullchain.pem;
    ssl_certificate_key    /etc/letsencrypt/live/tuana9a.tech/privkey.pem;
    location / {
        proxy_pass  http://172.77.0.29:8080;
    }
}

server {
    listen          443 ssl;
    server_name     calendar.tuana9a.tech;
    ssl_certificate        /etc/letsencrypt/live/calendar.tuana9a.tech/fullchain.pem;
    ssl_certificate_key    /etc/letsencrypt/live/calendar.tuana9a.tech/privkey.pem;
    location / {
        proxy_pass  http://172.77.0.45:8080;
    }
}

server {
    listen          80;
    server_name     captcha2text.tuana9a.tech;
    location / {
        proxy_pass  http://172.77.0.60:8080;
    }
}