<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" th:href="${faviconUrl}" type="image/x-icon">
    <title th:text="${title}"></title>
    <style>
        a {
            font-size: 20px;
            text-decoration: none;
        }

        a:hover {
            text-decoration: underline;
        }

        .File {
            padding: 2px 5px;
        }
    </style>
</head>

<body>
    <div class="File" th:each="file : ${files}">
        <a th:href="${file.url}" th:text="${file.name}"></a>
    </div>
</body>

</html>