<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" th:href="${faviconUrl}" type="image/x-icon">
    <title th:text="${title}"></title>
    <link rel="stylesheet" href="/explorer.css">
</head>

<body>
    <div class="Entry" th:each="file : ${files}">
        <a th:class="${file.type}" th:href="${file.url}" th:text="${file.name}"></a>
    </div>
</body>

</html>